@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';

.dashboard {
  background-color: $bright-purple-bg;
  overflow-x: hidden;
  [data-bg="shelf"] {
    position: absolute;
    height: clamp(30%, 250px, 100%);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}
.dashboard_bg0 {
  background-image: url("static/svg/top_shelf.svg");
  background-color: #655773;
}
.dashboard_bg1,
.dashboard_bg2 {
  background-image: url("static/svg/bottom_shelf.svg");
  background-color: #655773;
}
.dashboard_bg1 {
  top: clamp(30%, 280px, 100%);
}
.dashboard_bg2 {
  top: clamp(30%, 530px, 100%);
}
@media screen and (min-width: 700px) {
  .dashboard {
    [data-bg="shelf"] {
      height: 40%;
    }
  }
  .dashboard_bg1,
  .dashboard_bg2 {
    background-image: unset;
    background-color: unset;
  }
  .dashboard_bg0 {
    background-image: url("static/svg/shelf.svg");
    height: clamp(30%, 250px, 100%);
  }
}
