@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';
.statuses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  position: relative;
  top: -5vh;
}
.bottom_bg {
  margin-top: 18vh;
  background-color: #3d395b;
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // height: 20vh;
  // width: 100vw;
  z-index: 1;
}
.decor_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.decor_bottles {
  background-image: url(static/svg/bottles.svg);
  background-size: 100%;
  height: 17vh;
  width: 20vw;
  position: relative;
}
.decor_pint {
  background-image: url(static/svg/pint.svg);
  background-size: 100%;
  height: 13vh;
  width: 20vw;
  margin: 0 0 3vh 15vw;
  position: relative;
}
.orders-no {
  width: 30vw;
  height: 20vw;
  background-color: $dark-boxes;
  border-radius: 8px;
  box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
  text-align: center;
  z-index: 10;
}
.bartender-status {
  display: flex;
  background-color: $dark-boxes;
  border-radius: 8px;
  box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
  text-align: center;
  background-size: contain;
  z-index: 9;
}
.bartender img {
  width: 6vw;
}
.bartender {
  margin-left: 2vw;
}

@media all and (orientation: landscape) {
  /*------order screen for landscape-------*/
  .orders-no {
    position: absolute;
    top: 80%;
    left: 25%;
    width: 15vw;
    height: 10vw;
    background-color: $dark-boxes;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
  }
  .bartender-status {
    position: absolute;
    top: 80%;
    left: 65%;
    width: 28%;
    height: 10vw;
    background-color: $dark-boxes;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
    background-size: contain;
  }
  .bartender-status img {
    width: 3.8vw;
  }
  .bartender {
    margin-left: 2vw;
  }
}
@media only screen and (min-width: 700px) {
  .orders-no {
    width: 15vw;
    height: 9vw;
    left: 20%;
  }
}
