$digital-number-font: "DS-Digital";
$purple-ish-bg: #3d395e;
$bright-purple-bg: #4054ad;
$white-sec-bg: #ffffff;
$pink-highlight: #eb627e;
$number-color: #29f1d7;
$dark-boxes: #2c383e;
$dark-boxes-shadow: #1a262c;
$headings-font: futura-pt, sans-serif;
$text-font: lato, sans-serif;
