@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: $headings-font;
}
h2 {
  font-family: $headings-font;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.5em;
}
h3 {
  font-family: $digital-number-font;
  color: $number-color;
  font-size: 5em;
}

/*----------Background for dashboard---------------*/
@media all and (orientation: landscape) {
  .dashboard {
    width: 100%;
    height: 100vh;
    background: url(static/svg/Dashboard-bg.svg) center no-repeat;
    background-color: $bright-purple-bg;
    position: absolute;
    background-position: cover;
  }
  .orders-no {
    position: relative;
    top: 80%;
    left: 24%;
    width: 15vw;
    height: 8vw;
    background-color: $dark-boxes;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
  }
}

@media all and (orientation: portrait) {
  .dashboard {
    width: 100%;
    height: 100vh;
    background: url(static/svg/dashboard-bg-vertical.svg) center no-repeat
      scroll;
    background-color: $bright-purple-bg;
    position: absolute;
  }
  .orders-no {
    position: relative;
    top: 90%;
    left: 15%;
    width: 20vw;
    height: 13vw;
    background-color: $dark-boxes;
    border-radius: 8px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
  }
}
