@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: blue($color: #3054ad);
}
h1 {
  font-family: $headings-font;
}
